<html>
	<head></head>
	<body>
		<h2> -- Assets currently in database -- </h2>
		<table>
			{%for entry in session.asset_list%}
			<tr>
				<td> {{entry.asset_tag}} </td>
				<td> {{entry.description}} </td>
			</tr>
			{% endfor%}
		</table>
		<h2> Add an Asset: </h2>
		<form action="{{url_for('add_asset')}}" method="POST">
			<p>asset location </p>
			<select name='common_name'>
				{% for fac in session.fac_options%}
				<option value='{{fac}}'> {{fac}} </option>
				{%endfor%}
			</select>
			<p>asset tag: </p>
			<input type='text' name='asset_tag'>
			<p> asset description: </p>
			<input type='text' name='description'>
			<p> arrival date: </p>
			<input type='date' name='date'>
			<input type='submit' value='submit'>
		</form>
	</body>
</html>

