<html>
	<head></head>
	<body>
		<h2> REST API Calls </h2>
		<dl>
			<dt>lost_key</dt>
				<dd>returns the lost API key </dd>
			<dt>activate_user</dt>
				<dd> adds user permission, or creates a new user </dd>
			<dt>suspend_user</dt>
				<dd> revokes user permission/access </dd>
			<dt>list_products</dt>
				<dd>lists all products matching vendor, description, and compartments </dd>
			<p>
				<form action='https://127.0.0.1:8080/rest/list_products' method='POST'>
					<textarea name='vendor'>don't write anything here pls</textarea>
					<textarea name='description'></textarea>
					<input type='submit'/>
				</form>
		       	</p>
			<dt>add_products</dt>
				<dd>adds a list of new products with elements: vendor, description, alt_description, and compartments </dd>
			<dt>add_asset </dt>
				<dd>adds a singular new asset with elements: vendor, description, compartments, and facility </dd>
		</dl>
	</body>
</html>

